services:
  frontend:
    build:
      context: ./frontend
      target: dev
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules

  frontend-prod:
    build:
      context: ./frontend
      target: prod
    profiles:
      - prod
    ports:
      - "8080:80"

volumes:
  frontend_node_modules:
